
<div class="row" *ngIf="movie">
    <div class="col">
        <!--Image-->
        <img class="img-thumbnail"
             [src]="movie.poster_path | poster" 
             [alt]="movie.title">
    </div>
    <div class="col">
        <!--Detalle-->
        <h3>{{movie.title}}</h3>
        <div class="row">
            <div class="col text-white">
                Puntaje
            </div>
            <div class="col text-white">
                {{movie.vote_average}}
            </div>
        </div>
        <div class="row">
            <div class="col text-white mt-3">
                <h3>Description</h3>
                {{movie.overview}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-info mt-3"
                        (click)="goBack()">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5" *ngIf="cast.length > 0">
    <div class="col">
        <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
    </div>
</div>


